<br><br><br>
### Basic Operators in Python

In Python, operators are used to perform operations on variables and values. These operators are divided into several categories:<br>
- Artihmatic Operators:
    - `+` Addition
    - `-` Subtraction
    - `*` Multiplication
    - `/` Division
    - `%` Modulus (remainder)
    - `**` Exponentiation
    - `//` Floor Division<br><br>

In [37]:
# Addition
a = 10
b = 5
result = a + b
result

15

In [9]:
# Subtraction
result = a - b 
result

5

In [11]:
# Multiplication
result = a * b
result

50

In [13]:
# Division
result = a / b
result

2.0

**Note**: Divsion will always result in a `float`.

In [14]:
# Modulus
result = a % b
result

0

A modulus operator returns the remaining portion of a division problem.  Since 5 goes into 10 evenly (2 times), the result will be 0.

In [15]:
# Exponentiation
result = a ** 2 
result

100

In [16]:
# Floor Division
result = a // b
result

2

Floor division in Python will only return the number of times the right operand goes into the left operand evenly, leaving out any remainder.

- Comparison Operators:
    - `==` Equal to
    - `!=` Not Equal to
    - `>` Greater than
    - `<` Less than
    - `>=` Greater than or equal to
    - `<=` Less than or equal to <br><br>

In [18]:
# Equals to
result = (a == b)
result

False

In [19]:
# Not equal to
result = (a != b)
result

True

In [20]:
# Greater than
result = (a > b)
result

True

In [21]:
# Less than
result = (a < b)
result

False

In [22]:
# Greater than or equal to
result = (a >= b)
result

True

In [23]:
# Less than or equal to
result = (a <= b)
result

False

- Logical Operators:
    - `and`/`&`
    - `or`/`|`
    - `not` <br><br>

In [24]:
# and/&
result_and1 = (a > 0) and (b > 0)
result_and2 = (a > 0) & (b > 0)

print(result_and1)
print(result_and2)

True
True

Here, `and` and `&` can be used interchangably.

In [28]:
# or/|
result_or1 = (a > 11) or (b > 0)
result_or2 = (a > 12) | (b < -1)

print(result_or1)
print(result_or2)

True
False

Here, `or` and `|` can be used interchangably.

In [30]:
result1 = not(a > 0)
result2 = not(a < 0)

print(result1)
print(result2)

False
True

- Assignment Operators:
    - `=` Assigns the value of the right operand to the left operand
    - `+=` Adds the right operand to the left operand
    - `-=` Subtracts the right operand from the left operand
    - `*=` Multiplies the right operand with the left operand
    - `/=` Divides the left operand by the right operand
    - etc. for all other arithmatic operators <br><br>

In [38]:
# =
c = a + b 
c

15

In [39]:
# +=
a = 10
b = 5

a += b
a

15

In [33]:
# -=
a = 10
b = 5

a -= b
a

10

In [41]:
# *=
a = 10
b = 5

a *= b
a

50

In [42]:
# /=
a = 10
b = 5

a /= b
a

2.0

In [43]:
# %=
a = 10
b = 5

a %= b
a

0

In [44]:
# **=
a = 10
b = 5

a **= b
a

100000

In [45]:
# //=
a = 10
b = 5

a //= b
a

2

- Identity Operators:
    - `is` True if both operands refer to the same object
    - `is not` True is operands refer to different objects<br><br>

In [47]:
x = [1, 2, 3]
y = x
result = (x is y)
result

True

In [48]:
z = [1, 2, 3]
result = (x is not z)
result

True

- Membership Operators:
    - `in` True if the value is found in the sequence of values
    - `not in` True is the value is not found in th esequence of values<br><br>

In [49]:
result = (5 in [1, 2, 3, 4, 5])
result

True

In [50]:
result = (6 not in [1, 2, 3, 4, 5])
result

True

These operators form the building blocks of Python programming, allowing for the manipulation and comparison of data in powerful and flexible ways.

<br><br><br>
### Type Conversion

Type conversion in Python is about converting one data type into another. 

This is often necessary in Python programming, as you may need to manipulate values in a different format than they were originally in. 

Python provides several built-in functions for explicit type conversion:<br>


- `int()` Converts a value to an integer. Useful for converting floats or strings representing integers into integer values.

In [51]:
num_int = int(3.14) # converts `3.14` to `3`
num_int

3

Here, in converting 3.14 to an integer, it loses its decimal part, returning the whole number remaining.


- `float()` Converts a value to a floating-point number. Used for converting integers or strings representing floating-point values into float.

In [52]:
num_float = float("3.14") # converts the string `"3.14"` to `3.14`
num_float

3.14

Here, the result <i>looks</i> like it could be a string, but when you use the `type()` function, it shows that it is, indeed, a float:

In [53]:
type(num_float)

float

- `str()` Converts a value to a string. It's often used for concatenating numbers with strings or formatting.

In [55]:
str_val = str(10) # converts the integer `10` to the string `"10"
print(str_val, type(str_val))

10 <class 'str'>

- `list()` Converts a value to a list. Useful for turning tuples, strings, or sets into lists.

In [56]:
list_val = list((1, 2, 3)) # converts the tuple `(1, 2, 3)` to a list `[1, 2, 3]`
print(list_val, type(list_val))

[1, 2, 3] <class 'list'>

- `tuple()` Converts a value to a tuple. Useful for making lists or other iterables immutable.

In [57]:
tuple_val = tuple([1, 2, 3]) # converts the list `[1, 2, 3]` to a tuple `(1, 2, 3)`
print(tuple_val, type(tuple_val))

(1, 2, 3) <class 'tuple'>

- `set()` Converts a value to a set. Often used to remove duplicates from a list or tuple.
   - `set_val = set([1, 1, 2, 3])` converts the list `[1, 1, 2, 3]` to a set `{1, 2, 3}`<br><br>

- `dict()` Converts a list of pairs (or other iterable of pairs) to a dictionary.

In [58]:
dict_val = dict([('key1', 'value1'), ('key2', 'value2')]) # converts a list of pairs to a dictionary `{'key1': 'value1', 'key2': 'value2'}`.
print(dict_val, type(dict_val))

{'key1': 'value1', 'key2': 'value2'} <class 'dict'>

<br><br><br><br>

## This completes Chapter 2!  
### Join me in Chapter 3 where we will be covering control structures: <b>Conditional Statements</b> and <b>Loops</b>!